node_modules/
.env
.env.*
!.env.example

yarn.lock
pnpm-lock.yaml

coverage/
dist/
build/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

uploads/
temp/
tmp/

public/uploads/
